{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я Юра</h1>
  <p>
    Привет, я Юра, мне 31 год.
  </p>
  <h6>Ссылки на мои ресурсы</h6>
  <ul>
    <li><a href="https://github.com/yorriyurri">Github</a></li>
    <li><a href="https://www.facebook.com/yorri.yurri.9">Facebook</a></li>
    <li><a href="https://www.instagram.com/yorriyurri/">Instagram</a></li>
  </ul>
  <h6>Страница «Об авторе»</h6>
  <p>
    Тут надо бы что-то написать о себе, и как я пришел на эти курсы программирования.
  </p>
  <p>
    <img src="{% static 'img/bronson.jpg' %}" width="300" height="300" alt="Bronson">
  </p>
  <p>
    Год назад я задумался о том, что не хочу жить в большом городе.
    Но чтобы жить в маленьком городе и получать зарплату выше среднего,
    надо быть либо узким специалистом, либо работать удаленно.
    Для первого я недостаточно хорош, поэтому решил пойти по второму пути.
    Мне всегда было интересно научиться программировать, я считал, что могу быть способен на это.
    Но для самообучения мне не хватает дисциплины (читай, как желание) и мешает страх
    перед неизвестностью. Поэтому я периодически посматривал на курсы Яндекс.Практикума,
    потому что казалось, что тут способны научить, и тут очень дружественная обстановка.
  </p>
  <p>
    Тут надо написать что-то про вдохновение и ощущения.
  </p>
  <ul>
    <li>Меня вдохновляет только "кнут" в виде жестого дэдлайна и любопытство,
        как далеко я смогу зайти.
    </li>
    <li>Начиная с проекта второго српинта я ощущаю себя самозванцем,
        который попал на этот курс случайно, и никто это не заметил.
    </li>
  </ul>
</div>
{% endblock %}