{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        На этой странице надо бы рассказать, какие программные инструменты я применил
        для создания этого сайта, какие навыки мне помогли, с чем я хорошо разобралсь,
        а с чем — не очень.
      </p>
      <p>
        Чувствую, что с каждым спринтом становится все тяжелее и тяежелее.
        Из-то того, что отстаю от остальной когорты, приходится торопиться.
        Поэтому не уделяю должное внимание теории. Если что-то непонятно,
        я просто иду дальше. Плюс не хватает времени, чтобы смотреть вебинары.
        Думаю, что они могут помочь в прохождении спринтов,
        но я не знаю, как их включить в свою повседневную жизнь.
      </p>
      <p>
        Если честно, то без шпаргалок все это ещё раз уже не повторю.
      </p>
    </article>
  </div>
</div>
{% endblock %}